.debug {
    background-color: rgba(255, 0, 0, 0.4);
    min-height: 100px;
    border: 1px solid black;
}

.ap_debug{
    border: 1px solid black;
    background-color: rgba(255, 0, 0, 0.4);
    height: 50px;
}

/* HEADER */

header {
    background-color: #2B3E50;
    color: white;
    height: 90px;
    z-index: 999;
}


.ap_link{
    color: white;
}
/* /HEADER */

/* JUMBOTRON */
.jumbotron {
    align-items: center;
    justify-content: center;
    background-color: #32C2A4;
    padding-top: 100px;
}

.jumbo-box {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    flex-direction: column;
}

.profile_img {
    width: 60%;
    height: 40%;
    margin: 0 auto;
}

.ap_satanline {
    width: 30%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
}
/* /JUMBOTRON */

/* MAIN */
section {
    padding: 15px;
}

.ap-card img{
    border-radius: 10px;
}
._about {
    background-color: #19BC9B;
}

.form {
    width: 100%;
    height: 200px;
}

.ap-card {
    height: 100%;
    background-color: seashell;
}

.ap-container {
    width: 60%;
    margin: 0 auto;
}

.dl-btn {
    color: white;
    border-color: white;
}

.dl-btn:hover {
    background-color: white;
    color: #2C3F50;
    border-color: white;
}
/* /MAIN */

/* FOOTER */
.ap_logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

footer {
    background-color: #3A546D;
}

.copyright {
    background-color: #2C3E50;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy_box {
    height: 40px;
    min-width: 200px;
    color: white;
}

/* /FOOTER */



