.debug {
    background-color: rgba(255, 0, 0, 0.4);
    min-height: 100px;
    border: 1px solid black;
}

.ap_debug{
    border: 1px solid black;
    background-color: rgba(255, 0, 0, 0.4);
    height: 50px;
}

/* HEADER */

header {
    background-color: #2B3E50;
    color: white;
    height: 90px;
    z-index: 999;
}


.ap_link{
    color: white;
}

.fa-bars {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.5rem;
}
/* /HEADER */

.ap_star::before ,
.ap_star::after{
    content: "";
    display: inline-block;
    width: 20vw;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    margin: 0 10px;
}

.ap_star_white::before ,
.ap_star_white::after{
    content: "";
    display: inline-block;
    width: 20vw;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    margin: 0 10px;
    color: white;
}

.white_star {
    color: white;
}

/* JUMBOTRON */
.jumbotron {
    align-items: center;
    justify-content: center;
    background-color: #32C2A4;
    padding-top: 100px;
}

.jumbo-box {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    flex-direction: column;
}

.profile_img {
    width: 60%;
    height: 40%;
    margin: 0 auto;
}

.ap_satanline {
    width: 30%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
}

.satanline_white {
    background-color: #fff;
}
/* /JUMBOTRON */

/* MAIN */

/* OVERLAY */

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
}

.ap-card {
    background-color: red;
}

/* /OVERLAY */
section {
    padding: 15px;
}

.ap-card img{
    border-radius: 10px;
}
._about {
    background-color: #19BC9B;
}

.form {
    width: 100%;
    height: 200px;
}

.ap-card {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.ap-container {
    width: 60%;
    margin: 0 auto;
}

.dl-btn {
    color: white;
    border-color: white;
}

.dl-btn:hover {
    background-color: white;
    color: #2C3F50;
    border-color: white;
}

.form > * {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

.snd-btn {
    background-color: #19BC9B;
    color: white;
    border-color: #19BC9B;
}

.snd-btn:hover {
    background-color: #1F836B;
    color: white;
}
/* /MAIN */

/* FOOTER */
.ap_logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ap_logo ul {
    padding: none;
}

.logo {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 50px;
    display: inline-block;
}

footer {
    background-color: #3A546D;
}

.copyright {
    background-color: #2C3E50;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy_box {
    height: 40px;
    min-width: 200px;
    color: white;
}

/* /FOOTER */



